
.tabs {
    display: flex;
    align-items: center;
    margin: 0 -7px -14px;
    padding: 0 10px;

    .tab-link-block {
        flex: 0 1 33.333%;
        text-align: center;
        padding: 0px 7px;
        margin: 0 0 -14px 0;

        .tab-link {
            color: #7A7A7A;
            font-family: var(--fontDisplay);
            font-size: 13px;
            display: block;
            padding: 6px 0;
            background: #2C2C2C;
            border-radius: 5px;
        }

        &:active {
            background-color: #3D3C3C;
            .tab-link {
                color: #fff;
            }
        }
    }

    .active {
        background-color: #3D3C3C;
        .tab-link {
            color: #fff;
        }
    }

    .no-border {
        border-left: 0;
        border-right: 0;
    }
}