.store-item {
    font-family: var(--fontDisplay);
}

.title {
    font-weight: 700;
    font-size: 17px;
    line-height: 106%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0 0 6px 0;
}

.steps {
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.02em;
    color: #56CCF2;
    font-weight: 400;
    margin: 0 0 22px 0;
}
.img-block{
    margin-bottom: 20px;
    img{
        border-radius: 10px 10px 0px 0px;
    }
}
.button {
    --background: var(--yellowGradientBackground);
    --border-radius: 8px;
    font-size: 15px;
    color: #000;
    margin: 0 auto;
    width: 100%;
}