<ion-header class="header ion-no-border" color="primary">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/portfolio"></ion-back-button>
    </ion-buttons>
    <div class="title-block">
      <h3 class="title">{{ title }}</h3>
    </div>
            <div class="menu-block" slot="end">
                <div class="menu-block__text">Меню</div>
                <ion-menu-button class="menu-button"></ion-menu-button>
            </div>
  </ion-toolbar>
</ion-header>