<app-header [title]="'Индекс здоровья'"></app-header>

<ion-content fullscreen class="container" #pageTop>
  <ion-grid *ngIf="questions.length" class="container-grid" >
    <ion-row>
      <ion-col class="ion-text-center" *ngIf="url"
        ><a href="{{ url }}" target="_blank">Пройти на сайт</a></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="ion-text" *ngIf="progress.step"
        ><h2 class="subtitle" style="margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;">Анкета {{ progress.step }}</h2></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="ion-text"  *ngIf="progress.title"
        ><h2 class="title" style="margin: 0 0 20px 0">{{ progress.title }}</h2></ion-col
      >
    </ion-row>
    <ion-row justify-content-center align-items-center style="background: var(--backgroundContent);">
      <ion-col ion-text-center style="padding: 0 17px">
        <div class="container" style="height: 100%">
          <div
            *ngFor="let question of questions; let i = index;"
            [style.display]="(question.id === '28' && !questions[1].answers[2].isChecked) || 
            ((question.id === '41' || question.id === '42') && 
            questions[0].currentAnswer === 8) ? 'none' : 'initial'"
          >
            <div
              *ngIf="question.answer_type === '7' && blocks.length > 0 && isFirstBlockQuestion(question)"
              class="news-content"
            >
              <h2 class="subtitle">{{ isFirstBlockQuestion(question) }}</h2>
              <div class="divider"></div>
            </div>
            <div class="news-content">
              <h5 class="subtitle" *ngIf="i >= '3'">{{ question.question }}</h5>
            </div>
            <!-- RadioButton (тип 1) -- выбор единственного ответа -->
            <div class="btn-block" *ngIf="question.answer_type === '1'">
              <ion-grid style="padding: 0">
                <ion-row
                  class="ion-align-items-center"
                  *ngFor="let answer of question.answers; let j = index"
                >

                        <ion-col class="variable-answer">
                          <input
                            type="radio"
                            name="question{{ question.id }}"
                            id="answer{{ question.id }}-{{ j }}"
                            (click)="setAnswer(question.id, j)"
                            class="variable-answer__checkbox"
                          />

                          <label for="answer{{ question.id }}-{{ j }}"
                            >{{ answer.value }}</label
                          >

                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <!-- Input (тип 2) -- ввод строки -->
            <div class="btn-block" style="margin-bottom: 10px" *ngIf="question.answer_type === '2'">
              <ion-grid>
                <div no-padding class="answer-field">
                  <ion-input
                    type="text"
                    [placeholder]="question.question"
                    [(ngModel)]="question.currentAnswer"

                  ></ion-input>
                </div>
              </ion-grid>
            </div>
            <!-- Input (тип 3) -- ввод числа -->
            <div class="btn-block" *ngIf="question.answer_type === '3'">
              <ion-grid>
                <div no-padding class="answer-field answer-field_input" style="margin-bottom: 5px">
                  <ion-input
                    type="number"
                    [placeholder]="placeholder"
                    [(ngModel)]="question.currentAnswer"

                  ></ion-input>
                </div>
              </ion-grid>
            </div>
            <!-- CheckBox (тип 4) -- выбор нескольких ответов -->
            <div class="btn-block" *ngIf="question.answer_type === '4'">
              <ion-grid>
                <ion-row
                  class="ion-align-items-center"
                  *ngFor="let answer of question.answers; let j = index"
                >
                  <ion-col>
                    <ion-grid>
                      <ion-row class="ion-align-items-center">
                        <ion-col class="variable-answer">
                          <input
                            id="answer{{ question.id }}-{{ j }}"
                            mode="md"
                            [(ngModel)]="answer.isChecked"
                            type="checkbox"
                            class="variable-answer__checkbox"
                          />

                          <label for="answer{{ question.id }}-{{ j }}"
                            >{{ answer.value }}</label
                          >
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <!-- Input (тип 5) -- ввод даты -->
            <div class="btn-block" *ngIf="question.answer_type === '5'">
              <ion-grid>
                <div no-padding style="background: #5C5C5C;">
                  <ion-input
                    type="date"
                    [placeholder]="placeholder"
                    [(ngModel)]="question.currentAnswer"
                    style="margin: 0;color: #fff; --padding-start: 10px"
                  ></ion-input>
                </div>
              </ion-grid>
            </div>
            <!-- RadioButton и Input (тип 6) -- выбор единственного ответа и ввод данных -->
            <div class="btn-block" *ngIf="question.answer_type === '6'">
              <ion-grid>
                <ion-row
                  class="ion-align-items-center"
                  *ngFor="let answer of question.answers; let j = index"
                >
                  <ion-col *ngIf="j < question.answers.length - 1">
                    <ion-grid style="padding: 0">
                      <ion-row class="ion-align-items-center">
                        <ion-col class="variable-answer">
                          <input
                            type="radio"
                            name="question{{ question.id }}"
                            class="variable-answer__checkbox"
                            id="answer{{ question.id }}-{{ j }}"
                            (click)="setAnswer(question.id, j)"
                          />

                          <label for="answer{{ question.id }}-{{ j }}"
                            >{{ answer.value }}</label
                          >
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <div
                    no-padding
                    class="answer-field answer-field_input"
                    *ngIf="j === question.answers.length - 1"
                  >
                    <ion-grid>
                      <ion-row>
                        <label>{{ answer.value }}</label>
                      </ion-row>
                      <ion-row>
                        <ion-input
                          type="text"
                          [placeholder]="placeholder"
                          [(ngModel)]="question.custom"
                        ></ion-input>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-row>
              </ion-grid>
              <!-- <div *ngIf="isLastBlockQuestion(question)" class="divider"></div> -->
            </div>
            <!-- CheckBox и Input (тип 7) -- выбор нескольких ответов и ввод данных -->
            <div class="btn-block" *ngIf="question.answer_type === '7'">
              <ion-grid>
                <ion-row
                  class="ion-align-items-center"
                  *ngFor="let answer of question.answers; let j = index"
                >
                  <ion-col *ngIf="j < question.answers.length - 1">
                    <ion-grid>
                      <ion-row class="ion-align-items-center">
                        <ion-col class="variable-answer">
                          <input
                            id="answer{{ question.id }}-{{ j }}"
                            mode="md"
                            [(ngModel)]="answer.isChecked"
                            class="variable-answer__checkbox"
                            type="checkbox"
                          />

                          <label for="answer{{ question.id }}-{{ j }}"
                            >{{ answer.value }}</label
                          >
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <div

                    class="answer-field answer-field_input"
                    *ngIf="j === question.answers.length - 1"
                  >
                    <ion-grid>
                      <ion-row>
                        <label>{{ answer.value }}</label>
                      </ion-row>
                      <ion-row>
                        <ion-input
                          type="text"
                          [placeholder]="placeholder"
                          [(ngModel)]="question.currentAnswer"

                        ></ion-input>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-row>
              </ion-grid>
              <!-- <div *ngIf="isLastBlockQuestion(question)" class="divider"></div> -->
            </div>
          </div>

          <div class="btn-block">
            <ion-button
              class="button register-button"
              style="
                width: 100%;
        font-size: 15px;
        --background: #2C2C2C;
        --color: #F39F18;
        margin: 10px 0 28px 0;
              "
              (click)="doAnswer()"
              >{{ lastStep ? 'Завершить опрос' : 'Далее' }}</ion-button
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!questions.length" class="btn-block">
    <ion-button
      class="button register-button"
      style="
      width: 100%;
        font-size: 15px;
        --background: #2C2C2C;
        --color: #F39F18;
        margin: 0 0 43px 0;
      "
      (click)="continuePoll()"
      >Продолжить опрос</ion-button
    >

    <ion-button
      class="button register-button"
      (click)="interruptPoll()"
      >Пройти опрос заново</ion-button
    >
  </div>
</ion-content>
