<app-header [title]="'Индекс здоровья'"></app-header>

<ion-content fullscreen class="dark-container" #pageTop>
  <ion-grid *ngIf="questions.length" class="container-grid">
    <ion-row>
      <ion-col class="ion-text-center" *ngIf="url"
        ><a href="{{ url }}" target="_blank">Пройти на сайт</a></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" *ngIf="progress.step"
        ><h2 class="subtitle">Анкета {{ progress.step }}</h2></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" *ngIf="progress.title"
        ><h2 class="subtitle">{{ progress.title }}</h2></ion-col
      >
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col ion-text-center>
        <div class="container" style="height: 100%">
          <div *ngFor="let question of questions; let i = index;">
            <div
              *ngIf="question.answer_type === '7' && blocks.length > 0 && isFirstBlockQuestion(question)"
              class="news-content"
            >
              <h2 class="subtitle">{{ isFirstBlockQuestion(question) }}</h2>
              <div class="divider"></div>
            </div>
            <div class="news-content">
              <h5 class="subtitle">{{ question.question }}</h5>
            </div>
            <!-- RadioButton (тип 1) -- выбор единственного ответа -->
            <div class="btn-block" *ngIf="question.answer_type === '1'">
              <ion-grid>
                <ion-row
                  class="ion-align-items-center"
                  *ngFor="let answer of question.answers; let j = index"
                >
                  <ion-col>
                    <ion-grid>
                      <ion-row class="ion-align-items-center">
                        <ion-col size="1">
                          <input
                            type="radio"
                            name="question{{ question.id }}"
                            id="answer{{ question.id }}-{{ answer.id }}"
                            (click)="setAnswer(question.id, j)"
                          />
                        </ion-col>
                        <ion-col>
                          <label for="answer{{ question.id }}-{{ answer.id }}"
                            >{{ answer.value }}</label
                          >
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <!-- Input (тип 2) -- ввод строки -->
            <div class="btn-block" *ngIf="question.answer_type === '2'">
              <ion-grid>
                <ion-item no-padding>
                  <ion-input
                    type="text"
                    [placeholder]="placeholder"
                    [(ngModel)]="question.currentAnswer"
                  ></ion-input>
                </ion-item>
              </ion-grid>
            </div>
            <!-- Input (тип 3) -- ввод числа -->
            <div class="btn-block" *ngIf="question.answer_type === '3'">
              <ion-grid>
                <ion-item no-padding>
                  <ion-input
                    type="number"
                    [placeholder]="placeholder"
                    [(ngModel)]="question.currentAnswer"
                  ></ion-input>
                </ion-item>
              </ion-grid>
            </div>
            <!-- CheckBox (тип 4) -- выбор нескольких ответов -->
            <div class="btn-block" *ngIf="question.answer_type === '4'">
              <ion-grid>
                <ion-row
                  class="ion-align-items-center"
                  *ngFor="let answer of question.answers; let j = index"
                >
                  <ion-col>
                    <ion-grid>
                      <ion-row class="ion-align-items-center">
                        <ion-col size="1">
                          <ion-checkbox
                            id="answer{{ question.id }}-{{ answer.id }}"
                            mode="md"
                            [(ngModel)]="answer.isChecked"
                          ></ion-checkbox>
                        </ion-col>
                        <ion-col>
                          <label for="answer{{ question.id }}-{{ answer.id }}"
                            >{{ answer.value }}</label
                          >
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <!-- Input (тип 5) -- ввод даты -->
            <div class="btn-block" *ngIf="question.answer_type === '5'">
              <ion-grid>
                <ion-item no-padding>
                  <ion-input
                    type="date"
                    [placeholder]="placeholder"
                    [(ngModel)]="question.currentAnswer"
                  ></ion-input>
                </ion-item>
              </ion-grid>
            </div>
            <!-- RadioButton и Input (тип 6) -- выбор единственного ответа и ввод данных -->
            <div class="btn-block" *ngIf="question.answer_type === '6'">
              <ion-grid>
                <ion-row
                  class="ion-align-items-center"
                  *ngFor="let answer of question.answers; let j = index"
                >
                  <ion-col *ngIf="j < question.answers.length - 1">
                    <ion-grid>
                      <ion-row class="ion-align-items-center">
                        <ion-col size="1">
                          <input
                            type="radio"
                            name="question{{ question.id }}"
                            id="answer{{ question.id }}-{{ answer.id }}"
                            (click)="setAnswer(question.id, j)"
                          />
                        </ion-col>
                        <ion-col>
                          <label for="answer{{ question.id }}-{{ answer.id }}"
                            >{{ answer.value }}</label
                          >
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <ion-item
                    no-padding
                    *ngIf="j === question.answers.length - 1"
                  >
                    <ion-grid>
                      <ion-row>
                        <label>{{ answer.value }}</label>
                      </ion-row>
                      <ion-row>
                        <ion-input
                          type="text"
                          [placeholder]="placeholder"
                          [(ngModel)]="question.custom"
                        ></ion-input>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-row>
              </ion-grid>
              <!-- <div *ngIf="isLastBlockQuestion(question)" class="divider"></div> -->
            </div>
            <!-- CheckBox и Input (тип 7) -- выбор нескольких ответов и ввод данных -->
            <div class="btn-block" *ngIf="question.answer_type === '7'">
              <ion-grid>
                <ion-row
                  class="ion-align-items-center"
                  *ngFor="let answer of question.answers; let j = index"
                >
                  <ion-col *ngIf="j < question.answers.length - 1">
                    <ion-grid>
                      <ion-row class="ion-align-items-center">
                        <ion-col size="1">
                          <ion-checkbox
                            id="answer{{ question.id }}-{{ answer.id }}"
                            mode="md"
                            [(ngModel)]="answer.isChecked"
                          ></ion-checkbox>
                        </ion-col>
                        <ion-col>
                          <label for="answer{{ question.id }}-{{ answer.id }}"
                            >{{ answer.value }}</label
                          >
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <ion-item
                    no-padding
                    *ngIf="j === question.answers.length - 1"
                  >
                    <ion-grid>
                      <ion-row>
                        <label>{{ answer.value }}</label>
                      </ion-row>
                      <ion-row>
                        <ion-input
                          type="text"
                          [placeholder]="placeholder"
                          [(ngModel)]="question.currentAnswer"
                        ></ion-input>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-row>
              </ion-grid>
              <!-- <div *ngIf="isLastBlockQuestion(question)" class="divider"></div> -->
            </div>
          </div>

          <div class="btn-block">
            <ion-button
              class="button register-button"
              style="
                font-size: 18px;
                --background: #0361aa;
                --color: #fff;
                margin: 10px 5%;
              "
              (click)="doAnswer()"
              >Далее</ion-button
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!questions.length" class="btn-block">
    <ion-button
      class="button register-button"
      style="
        font-size: 18px;
        --background: #0361aa;
        --color: #fff;
        margin: 10px 5%;
      "
      (click)="continuePoll()"
      >Продолжить опрос</ion-button
    >

    <ion-button
      class="button register-button"
      style="
        font-size: 18px;
        --background: #0361aa;
        --color: #fff;
        margin: 10px 5%;
      "
      (click)="interruptPoll()"
      >Пройти опрос заново</ion-button
    >
  </div>
</ion-content>
