<app-header [title]="'Групповой лидерборд'"></app-header>

<ion-content fullscreen class="dark-container">
    <ion-grid class="container-grid">

        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>

                <div class="container">

                    <ion-item class='header'>
                        <div class="img-block">
                            <img src="{{ liderboard.platform_image }}" alt="web-rf">
                        </div>

                        <ion-label class='label'>{{ liderboard.platform }}</ion-label>
                    </ion-item>

                    <div class="table" *ngFor="let program of liderboard.programs">
                        <ion-item class='header'>
                          <ion-label class='label'>{{ program.title }}</ion-label>
                          <div class="img-block">
                              <img src="{{ program.program_image }}" alt="web-rf">
                          </div>
                      </ion-item>
                        <div class="table-header">
                            <div class="table-row">
                                <div class="table-header-label">ДЗ</div>
                                <div class="table-header-label">Шаги</div>
                                <div class="table-header-label">Баллы</div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="table-body-row" *ngFor="let item of program.teams">
                                <div class="table-label">{{ item.title }}</div>
                                <div class="table-label table-label-primary">{{ item.completed_tasks }} из {{ item.total_tasks }}</div>
                                <div class="table-label table-label-primary">{{ item.total }}</div>
                                <div class="table-label table-label-primary">{{ item.bonus }}</div>
                            </div>
                        </div>
                    </div>

                </div>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>