<app-header [title]="'Групповой лидерборд'"></app-header>

<ion-content fullscreen class="dark-container">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <ion-item class="header">
            <div class="img-block">
              <img
                *ngIf="liderboard.platform_image"
                src="{{ liderboard.platform_image }}"
                alt="web-rf"
              />
            </div>

            <ion-label class="label">{{ liderboard.platform }}</ion-label>
          </ion-item>

          <div class="table" *ngFor="let program of liderboard.programs">
            <ion-item class="header">
              <ion-label class="label">
                {{ program.title }}
                <p class="title-desc">
                  Начало и конец программы<br />{{ program.start_time }}-{{
                  program.end_time }}
                </p>
              </ion-label>
              <div class="img-block">
                <img src="{{ program.program_image }}" alt="web-rf" />
              </div>
            </ion-item>

            <ion-grid class="table-header">
              <ion-row class="ion-align-self-center">
                <ion-col></ion-col>
                <ion-col size="3" class="ion-text-center">ДЗ</ion-col>
                <ion-col size="3" class="ion-text-center">Шаги</ion-col>
                <ion-col size="3" class="ion-text-center">Общее</ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid class="ion-align-self-center">
              <ion-row
                class="ion-text-center"
                *ngFor="let item of program.teams"
              >
                <ion-col class="ion-text-left table-label" *ngIf="item.active"
                  ><a routerDirection="forward" routerLink="/team/{{ item.id }}"
                    >{{ item.title }}</a
                  ><br /><span
                    >{{ item.peoples }} из {{ item.max_peoples }} чел.</span
                  ></ion-col
                >
                <ion-col class="ion-text-left table-label" *ngIf="!item.active"
                  >{{ item.title }}<br /><span
                    >{{ item.peoples }} из {{ item.max_peoples }} чел.</span
                  ></ion-col
                >
                <ion-col size="3" class="ion-text-center table-label">
                  {{ item.total_tasks * item.peoples }}</ion-col
                >
                <ion-col
                  size="3"
                  class="ion-text-center table-label"
                  *ngIf="item.total != 0"
                  >{{ (item.total / 1000).toFixed(1) }}K</ion-col
                >
                <ion-col
                  size="3"
                  class="ion-text-center table-label"
                  *ngIf="item.total == 0"
                  >0</ion-col
                >
                <ion-col size="3" class="ion-text-center table-label"
                  >{{ ((+item.total + +item.bonus) / 1000).toFixed(1)
                  }}K</ion-col
                >
              </ion-row>
              <!-- <ion-row style="border-top: 1px solid #ccc">
                <ion-col class="ion-text-left table-label">Итого: </ion-col>
                <ion-col size="3" class="ion-text-center table-label"
                  ><span
                    >{{ program.completed_tasks }} из {{ program.total_tasks *
                    program.total_peoples }}</span
                  ></ion-col
                >
                <ion-col size="2" class="ion-text-center table-label"
                  >{{ (program.total / 1000).toFixed(1) }}K</ion-col
                >
                <ion-col size="2" class="ion-text-center table-label"
                  >{{ ((+program.total + +program.bonus) / 1000).toFixed(1)
                  }}K</ion-col
                >
              </ion-row> -->
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
