<app-header [title]="'Командный лидерборд'"></app-header>

<ion-content fullscreen class="container">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <div class="platform">
            <label class="label">
              <span>Ваша платформа</span>{{ liderboard.platform || 'Ваша
              платформа не указана'}}
            </label>
            <div class="img-block">
              <img
                src="{{ liderboard.platform_image || 'assets/images/menu-logo.svg' }}"
                alt="platform"
              />
            </div>
          </div>
          <div class="table" *ngFor="let program of liderboard.programs">
            <div class="header">
              <ion-label class="label">
                {{ program.title }}
                <p class="title-desc">
                  {{ program.start_time }} - {{ program.end_time }}
                </p>
              </ion-label>
              <div class="img-block">
                <img src="{{ program.program_image }}" alt="web-rf" />
              </div>
            </div>

            <ion-grid class="table-header">
              <ion-row class="ion-align-self-center">
                <ion-col size="3" class="ion-text-center table-title"
                  >Команды</ion-col
                >
                <ion-col size="3" class="ion-text-center table-title"
                  >ДЗ</ion-col
                >
                <ion-col size="3" class="ion-text-center table-title"
                  >Шаги</ion-col
                >
                <ion-col size="3" class="ion-text-center table-title"
                  >Общее</ion-col
                >
              </ion-row>
            </ion-grid>
            <ion-grid class="ion-align-self-center">
              <ion-row
                class="ion-text-center table-row"
                *ngFor="let item of program.teams"
              >
                <ion-col class="ion-text-left table-label" *ngIf="item.active"
                  ><a
                    routerDirection="forward"
                    class="table-activeLink"
                    routerLink="/team/{{ item.id }}"
                    >{{ item.title }}</a
                  ><br /><span
                    >{{ item.peoples }} из {{ item.max_peoples }} чел.</span
                  ></ion-col
                >
                <ion-col class="ion-text-left table-label" *ngIf="!item.active"
                  >{{ item.title }}<br /><span
                    >{{ item.peoples }} из {{ item.max_peoples }} чел.</span
                  ></ion-col
                >
                <ion-col size="3" class="ion-text-center table-label">
                  {{ item.total_tasks * item.peoples }}</ion-col
                >
                <ion-col
                  size="3"
                  class="ion-text-center table-label"
                  *ngIf="item.total != 0"
                  >{{ (item.total / 1000).toFixed(1) }}K</ion-col
                >
                <ion-col
                  size="3"
                  class="ion-text-center table-label"
                  *ngIf="item.total == 0"
                  >0</ion-col
                >
                <ion-col size="3" class="ion-text-center table-label"
                  >{{ ((+item.total + +item.bonus) / 1000).toFixed(1)
                  }}K</ion-col
                >
              </ion-row>
              <!-- <ion-row style="border-top: 1px solid #ccc">
                <ion-col class="ion-text-left table-label">Итого: </ion-col>
                <ion-col size="3" class="ion-text-center table-label"
                  ><span
                    >{{ program.completed_tasks }} из {{ program.total_tasks *
                    program.total_peoples }}</span
                  ></ion-col
                >
                <ion-col size="2" class="ion-text-center table-label"
                  >{{ (program.total / 1000).toFixed(1) }}K</ion-col
                >
                <ion-col size="2" class="ion-text-center table-label"
                  >{{ ((+program.total + +program.bonus) / 1000).toFixed(1)
                  }}K</ion-col
                >
              </ion-row> -->
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
