.toolbar {
  --background: none;
  --color: #fff;
  --min-height: 220px;
  background-image: url('/assets/images/portfolio/portfolio-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  position: relative;
}

.title-block {
  display: flex;
  align-items: center;
  position: relative;
  top: -55px;

  .title {
    color: #fff;
    font-size: 16px;
    font-family: 'OpenSans-Regular', sans-serif;
    margin: 0;
  }

  .arrow-back {
    width: 20px;
    margin: 3px 15px 0 25px;
  }
}

.menu-block {
  margin-right: 15px;
  top: -55px;
  position: relative;

  .menu-button {
    --color: #fff;
    font-size: 38px;
  }
}

.photo-block {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 80px;
  z-index: 200;
  left: 10px;

  .photo {
    position: relative;
    width: 100px;
    margin-right: 11px;
  }

  .photo-title {
    margin: 0;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    position: relative;

    span {
      color: #000;
    }

    a {
      text-decoration: none;
    }
  }
}

.portfolio-content {
  position: relative;
}

.first-tabs {
  margin: 15px 0;
}

.form {
  width: 100%;
  padding: 5vh 35px 0;

  .input,
  select {
    border: 1px solid #939598;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
    --padding-bottom: 10px;
    --padding-end: 15px;
    --padding-start: 15px;
    --padding-top: 10px;
  }

  select {
    padding: 10px 15px;
  }

  .btn-block {
    text-align: center;

    .forgot-password {
      text-align: center;
      font-family: 'OpenSans-Regular', sans-serif;
      font-size: 12px;
    }
    .button {
      width: 100%;
    }
  }
}
