.toolbar{
  --background: inherit;
   margin-bottom: 20px;

}
.photo-block{
  display: flex;
  align-items: center;
  gap: 18px;
  
  .photo{
    width: 76px;
    height: 76px;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    .photo-icon_edit{
         position: absolute;
         top: 0px;
         right: 0;
    }
  }
  .photo-title{
    font-family: var(--fontDisplay);;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }

}

.portfolio-content {
  position: relative;
}

.form {
  width: 100%;


  .input,
  select {
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    --color: #fff;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    --padding-bottom: 13px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 13px;
  }

  //select {
  //  padding: 10px 15px;
  //}

  .btn-block {
    text-align: center;

    .forgot-password {
      text-align: center;
      font-family: var(--fontDisplay);
      font-size: 12px;
    }
    .button {
      width: 100%;
      --background: var(--backgroundContent);
      --border-radius: 5px;
      font-size: 17px;
      color: #F39F18;
    }
  }
}
