<ion-content fullscreen class="content">
    <ion-grid style="height: 100%">
      
        <ion-row style="height: 100%">
            <ion-col size="12" ion-text-center>
  
                <div class="agree-text">
                    <p class="description">Нажимая кнопку «Далее»<br>я даю разрешение<br>приложению Health Balance<br>на считывание данных</p>
                    
                    <div class="btn-block">
                        <ion-button class="button" expand="block" (click)="toRegisterPage()">Далее</ion-button>
                    </div>
                </div>

            </ion-col>

        </ion-row>
    
    </ion-grid>
</ion-content>