.content {
  position: relative;
  background: var(--backgroundMain);


}
.container{
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;

  .circle-gradient {
    position: absolute;
    text-align: center;
    width: 85%;
    margin: 0px auto;
    left: 7%;
    height: 29%;
    bottom: -164px;
    background: #56CCF2;
    -webkit-filter: blur(200px);
    filter: blur(85px);
  }
}
.agree-text {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .description {
    margin: 0;
    font-family: var(--fontDisplay);
    font-size: 16px;
    color: #fff;
    position: relative;
  }

  .btn-block {
    width: 75%;
    position: relative;
    top: 215px;

    .button {
      width: 100%;
      --background: #fff;
      font-weight: 700;
      --color: #252525;
      border-radius: 50px;
    }
  }
}
