<div class="background-popup"></div>
<div class="popup">
  <p class="popup-text">
    <span class="popup-text-item">Вы подтверждаете обмен</span>
    <span class="popup-text-item">1500 шагов</span>
    <span class="popup-text-item">на Термос</span>
  </p>

  <ion-button
    class="button"
    expand="block"
    style="
      font-size: 18px;
      --background: #0361aa;
      --color: #fff;
      margin-bottom: 11px;
    "
    >Да</ion-button
  >

  <ion-button class="button" expand="block" style="font-size: 18px"
    >Отмена</ion-button
  >
</div>
