.item-group {
    display: flex;
    flex-direction: column;
    margin: 40px 0 20px 0;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
            --size: 30px;
        }

        &-text {
            color: #1a5ea9;
            font-size: 10px;
            margin-bottom: 0;
        }
    }
}