<app-header [title]="program_title"></app-header>

<ion-content fullscreen class="container">
    <div class="btn-block" *ngIf="customerData.role == 1">
         <ion-button class="button button-yellow" style="margin: 21px 0 30px 0;" expand="block" routerDirection="forward" routerLink="/lesson-form">Добавить задание</ion-button>
    </div>
    <ion-grid class="container-grid">

        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>

                <div class="container">
                    <app-listTasks [list]="listData"></app-listTasks>
                    <div class="item-group">

                        <div class="item" routerDirection="forward" routerLink="/group-leaderboard">
                            <ion-button class="button transition-button link-button" >Перейти в лидерборд</ion-button>

                        </div>

                        <div class="item" routerDirection="forward" routerLink="/calendar">
                            <ion-button class="button transition-button link-button" >Открыть календарь</ion-button>
                        </div>
                    </div>
                </div>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>