<ion-content class="content ion-padding">
    <ion-toolbar class="logo-bar">
        <ion-thumbnail slot="end" class="logo">
            <img src="assets/images/main-preview/aziz.png" class="logo-img" alt="aziz" />
        </ion-thumbnail>
    </ion-toolbar>

    <h1 class="title">Health Balance</h1>

    <p class="info-text">Добро пожаловать в приложение по улучшению здоровья и благополучия</p>

    <p class="advice-text">Далее несколько советов по пользованию приложением</p>

    <div class="btn-block">
        <ion-button class="button" (click)="toSliderPage()" expand="block">Далее</ion-button>
    </div>

    <div class="fit-image">
        <img src="assets/images/main-preview/preview.png" alt="fit-preview">
    </div>
</ion-content>