<div class="lesson-header">
  <div class="title-block">
    <h5 class="sub-title">Задание 2</h5>

    <div class="lesson-img">
      <img src="assets/images/food-program/web-rf.png" alt="web-rf" />
    </div>
  </div>
  <p class="lesson-title">Физиология пищеварительной системы</p>

  <ion-thumbnail class="player">
    <img src="assets/images/food-program/player.png" alt="player" />
  </ion-thumbnail>

  <ion-item class="task-title">
    <ion-label class="task-label">Задание</ion-label>
  </ion-item>
</div>

<div class="lesson">
  <h6 class="lesson-sub-title">
    Все достаточно просто! Вам необходимо отсканировать QR код, следуя указаниям
    ниже.
  </h6>
  <p class="lesson-desc">
    В вашем офисе есть плакаты, на которых изображен логотип нашей программы,
    под ним находится QR код, нажмите
    <a class="lesson-link" href="javascript:void(0);">на ссылку</a>
    и наведите экран телефона на него
  </p>
</div>

<div class="btn-block">
  <ion-button
    class="button"
    expand="block"
    (click)="toLessonThree()"
    style="font-size: 18px; --background: #0361aa; --color: #fff"
    >Применить</ion-button
  >
</div>
