.slide {
  .info-block {
    position: relative;
    width: 77%;
    margin: auto;

    .title {
      margin: 0 0 40px 0;
      font-family: var(--fontDisplay);;
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
    }

    .info-text {
      margin: 0;
      font-family: var(--fontDisplay);;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ABABAB;
      position: relative;
      margin-bottom: 54px;
    }
  }

  .offset-top {
    top: -5px;
  }

  //.offset-top-three {
  //  top: -48px;
  //}

  .img-block {
    --size: 30px;
    position: absolute;
    right: 0;
    top: 5px;
  }

  .img-block-prev {
    transform: rotate(180deg);
    left: 0;
    top: -4px;
  }
  .btn-block{
    .button{
      --background: #fff;
      --backdrop-filter: blur(10px);
      --border-radius: 50px;
      --color: #252525;
    }
  }
}
