.header {
  margin-bottom: 35px;

  .img-block {
    width: 50px;
    margin-right: 25px;
  }

  .label {
    font-size: 19px;
    font-family: 'OpenSans-Light', sans-serif;
    margin-bottom: 15px;
  }
}

.task-block {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;

  .title {
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 17px;
  }

  .note {
    font-family: 'OpenSans-Regular', sans-serif;
    color: #0361aa;
    font-size: 13px;
  }
}

.tasks {
  margin-bottom: 3px;
}

.step-block {
  // margin-bottom: 120px;
}

.tabs {
  display: flex;
  align-items: center;

  .tab-link-block {
    border: 1px solid #0361aa;
    display: block;
    padding: 2px 5px;
    width: 25%;
    text-align: center;

    .tab-link {
      color: #3c3c3b;
      font-family: 'OpenSans-Regular', sans-serif;
      font-size: 13px;
    }

    &:first-child {
      border-radius: 20px;
      border-right: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      text-align: center;
    }

    &:last-child {
      border-left: 0;
      border-radius: 20px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:active {
      background-color: #0361aa;
      .tab-link {
        color: #fff;
      }
    }
  }

  .active {
    background-color: #0361aa;

    .tab-link {
      color: #fff;
    }
  }

  .no-border {
    border-left: 0;
    border-right: 0;
  }
}

.flat-tabs {
  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    display: block;
    width: 25%;
    text-align: center;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 12px;
    color: #3c3c3b;
    text-decoration: none;
  }

  .select-bar {
    height: 3px;
    background-color: #ececec;
    border-radius: 10px;
    margin-top: 10px;
  }

  .selector {
    display: block;
    position: relative;
    left: 25%;
    width: 25%;
    height: 3px;
    background-color: #0360aa;
  }
}
