
.header {
  margin-bottom: 35px;

  .img-block {
    width: 50px;
    margin-right: 25px;
  }

  .label {
    font-size: 19px;
    font-family: var(--fontDisplay);
    margin-bottom: 15px;
  }
}

.task-block {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
  --background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;

  .title {
    letter-spacing: -0.02em;
    font-size: 15px;
    color: #FFFFFF;
  }

  .note {

    color: #F39F18;
    font-size: 15px;
  }
}

.tasks {
  --background: inherit;
  margin-bottom: 40px;
}

.step-block {
  // margin-bottom: 120px;
}
.tabs-block{
  padding: 18px 0 0 0;
  background: var(--backgroundContent);
}


.flat-tabs {
  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    display: block;
    width: 25%;
    text-align: center;
    font-family: var(--fontDisplay);
    font-size: 12px;
    color: #3c3c3b;
    text-decoration: none;
  }

  .select-bar {
    height: 3px;
    background-color: #ececec;
    border-radius: 10px;
    margin-top: 10px;
  }

  .selector {
    display: block;
    position: relative;
    left: 25%;
    width: 25%;
    height: 3px;
    background-color: #0360aa;
  }
}
