<app-header [title]="'Индивидуальный лидерборд'"></app-header>

<ion-content fullscreen class="container">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <div class="platform">
            <label class="label"
              ><span>Ваша платформа</span>{{ liderboard.platform || 'Ваша
              платформа не указана'}}
            </label>
            <div class="img-block">
              <img
                src="{{ liderboard.platform_image || 'assets/images/menu-logo.svg' }}"
                alt="platform"
              />
            </div>
          </div>

          <div class="tasks">
            <div
              class="task-block"
              lines="none"
              routerDirection="forward"
              routerLink="/tasks/0"
            >
              <ion-label class="title">Активных заданий:</ion-label>
              <ion-note class="note" slot="end"
                >{{ liderboard.total_tasks }}</ion-note
              >
            </div>

            <div class="task-block" lines="none">
              <ion-label class="title">Выполнено заданий:</ion-label>
              <ion-note class="note" slot="end"
                >{{ liderboard.completed_tasks }}</ion-note
              >
            </div>

            <div class="task-block" lines="none">
              <ion-label class="title">Пройдено шагов:</ion-label>
              <ion-note class="note" slot="end"
                >{{ liderboard.steps }}</ion-note
              >
            </div>
          </div>

          <div class="tabs-block">
            <div class="tabs">
              <span
                class="tab-link-block"
                [ngClass]="{'active': selected_tab === 'today'}"
                (click)="setActiveTab('today')"
              >
                <a class="tab-link">День</a>
              </span>
              <span
                class="tab-link-block no-border"
                [ngClass]="{'active': selected_tab === 'week'}"
                (click)="setActiveTab('week')"
              >
                <a class="tab-link">Неделя</a>
              </span>
              <span
                class="tab-link-block no-border"
                [ngClass]="{'active': selected_tab === 'month'}"
                (click)="setActiveTab('month')"
              >
                <a class="tab-link">Месяц</a>
              </span>
              <span
                class="tab-link-block no-border"
                [ngClass]="{'active': selected_tab === 'year'}"
                (click)="setActiveTab('year')"
              >
                <a class="tab-link">Год</a>
              </span>
              <span
                class="tab-link-block"
                [ngClass]="{'active': selected_tab === 'total'}"
                (click)="setActiveTab('total')"
              >
                <a class="tab-link">Всего</a>
              </span>
            </div>
          </div>

          <div class="step-block">
            <app-step-counter
              [steps]="steps"
              [period]="selected_tab"
            ></app-step-counter>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
