<app-header [title]="'Индивидуальный лидерборд'"></app-header>

<ion-content fullscreen class="dark-container">
    <ion-grid class="container-grid">
      
        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>
                
                <div class="container">
                    
                    <ion-item class='header'>
                        <div class="img-block">
                            <!--img src="assets/images/group-leaderboard/web-rf.png" alt="web-rf"-->
                        </div>
                        
                        <ion-label class='label'>{{ customerData.establishment}}</ion-label>
                    </ion-item>

                    <div class="tasks">

                        <ion-item class='task-block' lines="none">
                            <ion-label class="title">Активныз заданий</ion-label>
                            <ion-note class="note" slot="end">0</ion-note>
                        </ion-item>

                        <ion-item class='task-block' lines="none">
                            <ion-label class="title">Выполненных заданий</ion-label>
                            <ion-note class="note" slot="end">0</ion-note>
                        </ion-item>

                        <ion-item class='task-block' lines="none">
                            <ion-label class="title">Статистика по шагам</ion-label>
                            <ion-note class="note" slot="end">Всего 0</ion-note>
                        </ion-item>

                    </div>

                    <div class="tabs-block">
                        <app-tabs></app-tabs>
                    </div>

                    <div class="step-block">
                        <app-step-counter></app-step-counter>
                    </div>
 
                </div>
                
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>