.img-block {
    padding-bottom: 15px;
}

.calendar-item {
    --inner-padding-start: 15px;
    --inner-padding-top: 5px;
    --inner-padding-bottom: 5px;
    --inner-padding-end: 15px;
    --background: var(--backgroundContent);
    margin: 0;

}

.calendar-label {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.calendar-note {
    font-size: 15px;
    color: #7A7A7A;
    margin: 11px 0;
}

.calendar-active {
    color: #F39F18;
    //border-radius: 50%;
    //border: 1px solid #F39F18;

    .calendar-note {
        color: #F39F18;

    }
}

.calendar-info {
    background: inherit;
    border-radius: 10px;
}
