<div class="background-popup"></div>
<div class="popup">
    <p class="popup-text">
        <span class="popup-text-item">Заказ №8</span>
        <span class="popup-text-item">успешно оформлен.</span>
        <span class="popup-text-item">Для получения подробной инструкции</span>
        <span class="popup-text-item">свяжитесь с нами по телефону</span>
        <span class="popup-text-item">+7 (499) 348-26-22</span>
    </p>

    <ion-button
        class="button"
        expand="block"
        style="font-size: 18px;"
    >OK</ion-button>
</div>
