@import 'src/assets/styles/vars';
.img-block {
  border-bottom: 1px solid #939598;
  padding-bottom: 15px;
}

.input {
  border: 1px solid #5C5C5C;
  display: block;
  width: 100%;
  border-radius: 4px;
  --padding-bottom: 13px;
  --padding-end: 13px;
  --padding-start: 11px;
  --padding-top: 13px;
  font-size: 15px;
  color: #FFFFFF;
  --background: inherit;
  margin: 0 0 20px 0;
}

.link {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #FFFFFF;
  margin: 15px 0 20px 0;
}

.time-longer {
  border-top: 1px solid #939598;
  padding-top: 20px;
  margin-bottom: 20px;
}

.title {
  margin: 0 0 13px;
  font-size: 17px;
  color: #E1E1E1;
}

.input-block {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.control-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-text,
.team-text {
  color: #7A7A7A;
  font-size: 10px;
  margin: 0 0 5px;
}

.time-input {
  width: 100%;
  font-size: 14px;
}

.team-tracker {
  padding-top: 20px;
  margin-bottom: 20px;
}

.team {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.team-block {
  &:first-child {
    margin-right: 22px;
    width: 28%;
  }
}
.btn-block {
  margin-bottom: 10px;
  .button {
    width: 100%;
  }
}
