<app-header [title]="'Создание программы'"></app-header>

<ion-content fullscreen class="container">
  <ion-grid class="container-grid">
    <form class="form" (ngSubmit)="createProgram()">
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" ion-text-center>
          <div class="container" style="height: 100%">
            <div class="news-block">
              <ion-input
                type="text"
                class="input"
                name="title"
                [(ngModel)]="programInfo.title"
                placeholder="Название программы"
              ></ion-input>
            </div>

            <a
              href="javascript:void(0);"
              class="link"
              (click)="uploadPhoto()"
              *ngIf="programInfo.image == ''"
              >Загрузить логотип программы...</a
            >
            <img
              src="{{ programInfo.image }}"
              alt=""
              *ngIf="programInfo.image != ''"
              (click)="uploadPhoto()"
            />

            <div class="time-longer">
              <h3 class="title">Продолжительность программы</h3>

              <div class="control-time">
                <div class="input-block">
                  <p class="time-text">Дата начала:</p>
                  <div
                    name="date_from"
                    [(ngModel)]="date.from"
                    class="time-input"
                  >
                    {{date.from || 'не указана'}}
                  </div>
                </div>
                <div class="input-block">
                  <p class="time-text">Дата завершения:</p>
                  <div name="date_to" [(ngModel)]="date.to" class="time-input">
                    {{date.to || 'не указана'}}
                  </div>
                </div>
              </div>
            </div>

            <div class="img-block">
              <ion-calendar
                name="date"
                [(ngModel)]="date"
                type="string"
                [format]="'DD.MM.YYYY'"
                [options]="options"
                style="
                  filter: invert(1);
                  background: #e9e7e7;
                  border-radius: 10px;
                "
              >
              </ion-calendar>
            </div>

            <div class="team-tracker">
              <h3 class="title">Команды</h3>

              <div class="team">
                <div class="team-block">
                  <p class="team-text">макс. кол-во команд</p>
                  <ion-input
                    type="text"
                    name="team_amount"
                    [(ngModel)]="programInfo.team_amount"
                    class="input team-input"
                    placeholder=""
                  ></ion-input>
                </div>
                <div class="team-block">
                  <p class="team-text">макс. чел. в команде</p>
                  <ion-input
                    type="text"
                    name="max_peoples"
                    [(ngModel)]="programInfo.max_peoples"
                    class="input team-input"
                    placeholder=""
                  ></ion-input>
                </div>
              </div>
            </div>

            <div class="btn-block">
              <ion-button
                type="submit"
                class="button button-yellow"
                expand="block"
                >Создать</ion-button
              >
            </div>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
