@import 'src/assets/styles/vars';
.img-block {
  border-bottom: 1px solid #939598;
  padding-bottom: 15px;
}

.input {
  border: 1px solid #5c5c5c;
  display: block;
  width: 100%;
  border-radius: 4px;
  --padding-bottom: 13px;
  --padding-end: 13px;
  --padding-start: 11px;
  --padding-top: 13px;
  font-size: 15px;
  color: var(--colorMain);
  --background: inherit;
}

.link {
  display: block;
  font-size: 13px;
  color: var(--colorBlue);
  font-weight: 400;
  margin: 30px 0 10px 0;
}

.time-longer {
  padding-top: 20px;
  margin-bottom: 20px;
}

.title {
  margin: 0 0 20px;
  font-size: 17px;
  font-weight: 700;
  color: var(--colorCaption);
}

.input-block {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.control-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-text,
.team-text {
  color: var(--colorPlatform);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin: 0 0 7px;
}

.time-input {
  width: 100%;
  font-size: 15px;
  color: var(--colorCaption);
  border: 0;
}

.team-tracker {
  padding-top: 20px;
  margin-bottom: 20px;
}

.team {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.team-block {
  flex: 0 1 50%;
}
.btn-block {
  margin-bottom: 10px;
  .button {
    width: 100%;
  }
}
