<ion-header class="header ion-no-border" color="primary">
  <ion-toolbar class="toolbar">
    <div class="title-block">
      <!--div class="arrow-back">
                <img src="assets/images/header/arrow.png">
            </div-->
    </div>

    <div class="menu-block" slot="end">
      <ion-menu-button class="menu-button"></ion-menu-button>
    </div>

    <div class="photo-block">
      <div class="photo">
        <img
          src="assets/images/portfolio/photo.png"
          alt="photo"
          *ngIf="customerData.avatar == ''"
        />
        <img
          src="{{ customerData.avatar }}"
          alt="photo"
          *ngIf="customerData.avatar != ''"
        />
      </div>

      <p class="photo-title">{{ customerData.name }}</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="white-container">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <div class="portfolio-content">
            <div class="first-tabs">
              <div class="flat-tabs">
                <div class="text">
                  <a class="link">Статистика</a>
                  <a routerDirection="back" routerLink="/portfolio" class="link"
                    >Шаги</a
                  >
                  <a
                    routerDirection="forward"
                    routerLink="/program-name/{{ customerData.platform_id }}"
                    class="link"
                    >Программы</a
                  >
                  <a
                    routerDirection="forward"
                    routerLink="/group-task/0"
                    class="link"
                    >Задания</a
                  >
                </div>
                <div class="select-bar">
                  <span class="selector"></span>
                </div>
              </div>
            </div>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button
                    class="stat"
                    [ngClass]="{'active': stat_type == 0}"
                    (click)="stat_type = 0; setTabs(1);"
                    >Задания</ion-button
                  >
                </ion-col>
                <ion-col>
                  <ion-button
                    class="stat"
                    [ngClass]="{'active': stat_type != 0}"
                    (click)="stat_type = 1; setTabs(1);"
                    >Задания + шаги</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="tabs-block">
              <div class="tabs">
                <span
                  class="tab-link-block"
                  [ngClass]="{'active': selected_tabs == 1}"
                  (click)="setTabs(1)"
                >
                  <a class="tab-link">за неделю</a>
                </span>
                <span
                  class="tab-link-block no-border"
                  [ngClass]="{'active': selected_tabs == 2}"
                  (click)="setTabs(2)"
                >
                  <a class="tab-link">за месяц</a>
                </span>
                <span
                  class="tab-link-block"
                  [ngClass]="{'active': selected_tabs == 3}"
                  (click)="setTabs(3)"
                >
                  <a class="tab-link">за год</a>
                </span>
              </div>
            </div>

            <div class="chart-container">
              <canvas #barCanvas></canvas>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
