<app-headerMain></app-headerMain>

<ion-content fullscreen class="container">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <app-flat-tabs [platform_id]="customerData.platform_id"></app-flat-tabs>
        <div class="container-graphic">
          <div class="portfolio-content">

            <ion-grid style="padding: 0">
              <ion-row class="buttons-block">
                <ion-col style="flex-grow: 0; padding: 0">
                  <ion-button
                    class="stat"
                    [ngClass]="{'active': stat_type == 0}"
                    (click)="stat_type = 0; setTabs(1);"
                    >Задания</ion-button
                  >
                </ion-col>
                <ion-col style="flex-grow: 0">
                  <ion-button
                    class="stat"
                    [ngClass]="{'active': stat_type != 0}"
                    (click)="stat_type = 1; setTabs(1);"
                    >Задания + шаги</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="tabs-block">
              <div class="tabs">
                <span
                  class="tab-link-block"
                  [ngClass]="{'active': selected_tabs == 1}"
                  (click)="setTabs(1)"
                >
                  <a class="tab-link">Неделя</a>
                </span>
                <span
                  class="tab-link-block no-border"
                  [ngClass]="{'active': selected_tabs == 2}"
                  (click)="setTabs(2)"
                >
                  <a class="tab-link">Месяц</a>
                </span>
                <span
                  class="tab-link-block"
                  [ngClass]="{'active': selected_tabs == 3}"
                  (click)="setTabs(3)"
                >
                  <a class="tab-link">Год</a>
                </span>
              </div>
            </div>
            <div class="chart-container">
              <canvas #barCanvas></canvas>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
