@import 'src/assets/styles/vars';


.buttons-block{
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  padding: 0 10px;
}
.stat {
  font-size: 15px;
  --background: var(--backgroundContent);
  --border-radius: 50px;
  border: 1px solid #A3A3A3;
  white-space: nowrap;
  width: auto;
  height: 30px;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;

  --background-hover: none;
  &:hover{
    background: none;
  }

  &.active {
    --background: var(--yellowGradientBackground);
    color: #1B1B1B;
    border: 1px solid transparent;
  }
}

.title-block {
  display: flex;
  align-items: center;
  position: relative;
  top: -55px;

  .title {
    color: #fff;
    font-size: 16px;
    font-family: var(--fontDisplay);
    margin: 0;
  }

  .arrow-back {
    width: 20px;
    margin: 3px 15px 0 25px;
  }
}


.portfolio-content {
  position: relative;
}

.first-tabs {
  margin: 15px 0 0 0;
}

.chart-container {
  position: relative;
  margin-top: 10px;
  height: 35vh;
  width: 100%;
}
