.input {
  border: 1px solid #939598;
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 10px;
}



.title {
  margin: 0 0 13px;
  font-family: var(--fontDisplay);
  font-size: 16px;
  color: #6f6f6e;
}


.btn-block {
 margin: 10px 0;
}


ion-slides {
  height: 100%;
}

ion-slide > :first-child {
  width: 100%;
}

.swiper-slide {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}

.bot-loading-container {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 50vh;
}
.slide{
  &-label{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    margin: 0 0 25px 0;
  }
}
