.input {
  border: 1px solid #939598;
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 10px;
}



.title {
  margin: 0 0 13px;
  font-family: var(--fontDisplay);
  font-size: 16px;
  color: #6f6f6e;
}
.subtitle {
  margin: 30px 0 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: left;
}

.btn-block {
 margin: 10px 0;
}


ion-slides {
  height: 100%;
}

ion-slide > :first-child {
  width: 100%;
}

.swiper-slide {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}

.bot-loading-container {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 50vh;
}
.slide{
  &-label{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    margin: 0 0 25px 0;
  }
}
.variable-answer {
  display: flex;
  font-size: 7px;
  margin-top: 5px;
  padding: 0 0 15px 0;

  .radio {
    display: block;
    height: 10px;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
  &__checkbox {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  label {
    color: #ffff;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.02em;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:before {
      content:'';
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 7.5px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 13px;

    }
  }
  input[type="radio"] + label:before{
    border-radius: 50%;
  }
  input[type="radio"]:checked + label:after {
    border-radius: 50%;
  }
  input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    width: 11px;
    height: 11px;
    background: #F39F18;

  }
}
.answer-field_input{
  margin: 0;
  label{
    background: #5c5c5c;
    color: #fff;
    width: 100%;
    padding: 8px;
  }

}