.leaderboard-list{
  &__container{
    display: flex;
    flex-direction: column;
  }
}

.card-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child){
    margin-bottom: 40px;
  }
  &__col_one{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
  &__icon{
    flex: 0 0 39px;
    height: 100%;
    margin-right: 8px;
    img{
      width: 39px;
      height: 39px;
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
  }
  &__command{
    color: #A3A3A3;
    font-size: 15px;
    letter-spacing: -0.02em;
    font-weight: 400;
    white-space: nowrap;
    margin-bottom: 4px;
  }
  &__score{
    font-family: var(--fontDisplay);
    color: var(--colorBlue);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    white-space: nowrap;
  }
  &__btn {
    background: var(--backgroundButtonPush);
    backdrop-filter: blur(10px);
    border-radius: 55px;
    color: var(--colorBlack);
    font-size: 13px;
    letter-spacing: -0.02em;
    font-weight: 400;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
  }
  &__btn_yellow{
    background:var(--yellowGradientBackground);
    color: #000;
  }
}
.button-yellow{

}