<app-headerMain></app-headerMain>

<ion-content fullscreen class="container" force-overscroll="false">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <app-flat-tabs [platform_id]="customerData.platform_id"></app-flat-tabs>
        <div class="container-graphic">
          <div class="portfolio-content">
            <div class="tabs-block">
              <div class="tabs">
                <span
                  class="tab-link-block"
                  [ngClass]="{'active': selected_tab === 'today'}"
                  (click)="setActiveTab('today')"
                >
                  <a class="tab-link">День</a>
                </span>
                <span
                  class="tab-link-block no-border"
                  [ngClass]="{'active': selected_tab === 'week'}"
                  (click)="setActiveTab('week')"
                >
                  <a class="tab-link">Неделя</a>
                </span>
                <span
                  class="tab-link-block no-border"
                  [ngClass]="{'active': selected_tab === 'month'}"
                  (click)="setActiveTab('month')"
                >
                  <a class="tab-link">Месяц</a>
                </span>
                <span
                  class="tab-link-block no-border"
                  [ngClass]="{'active': selected_tab === 'year'}"
                  (click)="setActiveTab('year')"
                >
                  <a class="tab-link">Год</a>
                </span>
                <span
                  class="tab-link-block"
                  [ngClass]="{'active': selected_tab === 'total'}"
                  (click)="setActiveTab('total')"
                >
                  <a class="tab-link">Всего</a>
                </span>
              </div>
            </div>

            <div class="step-block">
              <app-step-counter
                [steps]="calc_steps"
                [period]="selected_tab"
              ></app-step-counter>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
