<div class="lesson-header">
  <div class="title-block">
    <h5 class="sub-title">Задание 3</h5>

    <div class="lesson-img">
      <img src="assets/images/food-program/web-rf.png" alt="web-rf" />
    </div>
  </div>
  <p class="lesson-title">Рацион и режим питания</p>

  <ion-thumbnail class="player">
    <img src="assets/images/food-program/player.png" alt="player" />
  </ion-thumbnail>

  <ion-item class="task-title">
    <ion-label class="task-label">Задание</ion-label>
  </ion-item>
</div>

<div class="lesson">
  <h6 class="lesson-sub-title">
    Напишите свой ответ в строке ниже и нажмите «Применить»
  </h6>
  <p class="lesson-desc">
    Проанализируйте стиль питания человека в соответствии с тремя основными
    принципами рационального питания. Можно ли такое питание назвать правильным
    и почему:
  </p>
  <p class="lesson-desc">Мужчина 45 лет</p>
  <p class="lesson-desc">
    Рекомендуемая суточная потребность 2400 ккал - реально употребляемая
    суточная норма ккал 3000 ккал
  </p>

  <ion-textarea class="text-area" rows="3"></ion-textarea>

  <p class="lesson-desc">
    Рекомендуемое соотношение макронутриентов (Б, Ж, У) 20% - 30% - 50%
    соответственно, реальное соотношение макронутриентов (Б, Ж, У) 10% - 50% -
    40% соответственно
  </p>

  <ion-textarea class="text-area" rows="3"></ion-textarea>

  <p class="lesson-desc">
    Рекомендуемый режим питания 3 основных приема пищи и 1-2 перекуса — реальный
    режим питания 1 основной прием пищи в вечернее время, остальное перекусы
  </p>

  <ion-textarea class="text-area" rows="3"></ion-textarea>
</div>

<div class="btn-block">
  <ion-button
    class="button"
    expand="block"
    (click)="toLessonFour()"
    style="font-size: 18px; --background: #0361aa; --color: #fff"
    >Применить ко всем</ion-button
  >
</div>
