<ion-content fullscreen class="content">
    <ion-grid style="height: 100%" class="ion-no-padding">

      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col size="12" ion-text-center>

            <div class="container">
                <h1 class="title">Health Balance</h1>

                <form class="form" (ngSubmit)="doRegister()">
                    <ion-input type="email" name="email" [(ngModel)]="registrationInfo.email" class="input" placeholder="E-mail"></ion-input>
                    <ion-input type="password" name="password" [(ngModel)]="registrationInfo.password" class="input" placeholder="Пароль"></ion-input>
                    <select name="platform_id" [(ngModel)]="registrationInfo.platform_id">
		              <option value="0">Выберите платформу</option>
                      <option *ngFor="let platform of platforms" value="{{ platform.id }}">{{ platform.title }}</option>
 			        </select>

                    <div class="btn-block">
                        <ion-button type="submit" class="button login-button" style="font-size: 18px; margin-top: 13px; margin-bottom: 10px;" expand="block">Регистрация</ion-button>
                        <ion-button class="button register-button" (click)="goBack()" style="font-size: 18px; --background: #0361aa; --color: #fff; margin-bottom: 10px;" expand="block">Назад</ion-button>
                    </div>

                </form>

                <div class="agree">
                    <input type="checkbox" class="radio" name="agree" [(ngModel)]="registrationInfo.agree" value="false" />
                    <ion-label routerDirection="forward" routerLink="/agree-read-data">Согласие на обработку персональных данных, в соответствии с Федеральным законом от 27.07.2002 года №152-ФЗ «О персональных данных»</ion-label>
                </div>
            </div>

        </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>