<div fullscreen class="content">
  <ion-grid class="ion-no-padding">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <h1 class="title">Регистрация</h1>

          <form class="form" (ngSubmit)="doRegister()">
            <ion-input
              type="email"
              name="email"
              [(ngModel)]="registrationInfo.email"
              class="input"
              placeholder="Логин"
            ></ion-input>
            <ion-input
              type="password"
              name="password"
              [(ngModel)]="registrationInfo.password"
              class="input"
              placeholder="Пароль"
            ></ion-input>
            <ion-select
              class="select"
              name="platformId"
              [(ngModel)]="registrationInfo.platform_id"
              okText="Выбрать"
              cancelText="Отмена"
            >
              <ion-select-option [value]="0">Ваша платформа</ion-select-option>
              <ion-select-option
                *ngFor="let platform of platforms"
                value="{{ platform.id }}"
              >
                {{ platform.title }}
              </ion-select-option>
            </ion-select>
            <div class="btn-block">
              <ion-button
                type="submit"
                class="button login-button"
                expand="block"
                >Регистрация</ion-button
              >
              <ion-button
                class="button button-transparent"
                (click)="goBack()"
                expand="block"
                >Назад</ion-button
              >
            </div>
          </form>

          <div class="agree">
            <input
              type="checkbox"
              class="agree__checkbox"
              name="agree"
              [(ngModel)]="registrationInfo.agree"
              value="false"
              id="as"
            />
            <!--            routerLink="/agree-read-data"-->
            <label routerDirection="forward" class="agree__label" for="as"
              >Согласие на обработку персональных данных, в соответствии с
              Федеральным законом от 27.07.2002 года №152-ФЗ «О персональных
              данных»</label
            >
          </div>
          <a routerLink="/" class="link-info">Условия использования</a>
          <a routerLink="/" class="link-info">Политика конфиденциальности</a>
          <div class="circle-gradient"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
