<div fullscreen class="content">
  <ion-grid style="height: 100%" class="ion-no-padding">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col size="12" ion-text-center>
        <div class="container">
          <h1 class="title">Регистрация</h1>

          <form class="form" (ngSubmit)="doRegister()">
            <ion-input
              type="email"
              name="email"
              [(ngModel)]="registrationInfo.email"
              class="input"
              placeholder="Логин"
            ></ion-input>
            <ion-input
              type="password"
              name="password"
              [(ngModel)]="registrationInfo.password"
              class="input"
              placeholder="Пароль"
            ></ion-input>
            <select
              name="platform_id"
              [(ngModel)]="registrationInfo.platform_id"
            >
              <option value="0">Выберите платформу</option>
              <option
                *ngFor="let platform of platforms"
                value="{{ platform.id }}"
              >
                {{ platform.title }}
              </option>
            </select>

            <div class="btn-block">
              <ion-button
                type="submit"
                class="button login-button"
                style="font-size: 14px; margin-bottom: 15px"
                expand="block"
                >Регистрация</ion-button
              >
              <ion-button
                class="button"
                (click)="goBack()"
                style="
                  font-size: 14px;
                  --background: transparent;
                  --color: #8F8F8F;
                  border: 1px solid  #8F8F8F;
                "
                expand="block"
                >Назад</ion-button
              >
            </div>
          </form>

          <div class="agree">
            <input
              type="checkbox"
              class="agree__checkbox"
              name="agree"
              [(ngModel)]="registrationInfo.agree"
              value="false"
              id="as"
            />
<!--            routerLink="/agree-read-data"-->
            <label routerDirection="forward" class="agree__label" for="as"
              >Согласие на обработку персональных данных, в соответствии с
              Федеральным законом от 27.07.2002 года №152-ФЗ «О персональных
              данных»</label
            >
          </div>
          <a routerLink="/" class="link-info">Условия использования</a>
          <a routerLink="/" class="link-info">Политика конфиденциальности</a>
          <div class="circle-gradient"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
