.step-counter {
  text-align: center;
  padding: 50px 0;

  .img-block {
    margin: auto;
    width: 55px;
    margin-bottom: 15px;
  }
  .step-text{
    font-family: var(--fontDisplay);;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 8px;
  }
  .title {
    font-family: var(--fontDisplay);
    margin: 0;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .time {
    margin: 0;
    font-family: var(--fontDisplay);
    font-size: 15px;
    margin-bottom: 5px;
  }

  .steps {
    margin: 0;
    font-family: var(--fontDisplay);;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #56CCF2;
  }
}
