<app-header [title]="liderboard.team_title"></app-header>

<ion-content fullscreen class="container">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <div class='platform'>
            <label class='label'><span>Ваша платформа</span>{{ liderboard.program_title || 'Ваша платформа не указана'}} </label>
            <div class="img-block">
              <img src="{{ liderboard.platform_image || 'assets/images/menu-logo.svg' }}"  alt="platform"/>
            </div>
          </div>
          <div class="table">
            <div class="header">
              <ion-label class="label ion-text-center"
                >{{ liderboard.team_title }}</ion-label
              >
            </div>
            <div class="table-header">
              <div class="table-row">
                <div class="table-header-label"></div>
                <div class="table-header-label">ДЗ</div>
                <div class="table-header-label">Шаги</div>
                <div class="table-header-label">Баллы</div>
              </div>
            </div>
            <div class="table-body">
              <div
                class="table-body-row"
                *ngFor="let customer of liderboard.customers"
                (click)="showInfo(customer)"
              >
                <div class="table-label">{{ customer.name }}</div>
                <div class="table-label table-label-primary">
                  {{ customer.completed_tasks }} из {{ customer.total_tasks }}
                </div>
                <div class="table-label table-label-primary">
                  {{ customer.total }}
                </div>
                <div class="table-label table-label-primary">
                  {{ customer.bonus }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
