<app-header [title]="liderboard.team_title"></app-header>

<ion-content fullscreen class="container">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <div class="platform">
            <label class="label"
              ><span>Выбранная программа</span>{{ liderboard.program_title ||
              'Программа не указана'}}
            </label>
            <div class="img-block">
              <img
                src="{{ liderboard.program_image || 'assets/images/menu-logo.svg' }}"
                alt="platform"
              />
            </div>
          </div>
          <div class="table">
            <div class="header">
              <ion-label class="label ion-text-center"
                >{{ liderboard.team_title }}</ion-label
              >
            </div>
            <ion-grid class="table-header">
              <ion-row class="ion-align-self-center">
                <ion-col size="5" class="ion-text-center table-title"
                  ><span (click)="setActive(true)">?</span>Участник</ion-col
                >
                <ion-col size="2" class="ion-text-center table-title"
                  >ДЗ</ion-col
                >
                <ion-col size="3" class="ion-text-center table-title"
                  >Шаги</ion-col
                >
                <ion-col size="2" class="ion-text-center table-title"
                  >Общее</ion-col
                >
              </ion-row>
              <app-popup-three
                [activePopup]="activePopup"
                [setActivePopup]="setActive"
              >
                <div class="modal-block">
                  <p class="modal-text">
                    <strong>ДЗ</strong> - число выполненных домашних заданий из
                    тех, которые уже опубликованы в программе.
                  </p>
                  <p class="modal-text">
                    <strong>Шаги</strong> - количество шагов участника с момента
                    подключения к программе.
                  </p>
                  <p class="modal-text">
                    <strong>Общее</strong> - общая сумма баллов за шаги и
                    выполненные домашние задания, набранная участником с момента
                    подключения к программе.
                  </p>
                </div>
              </app-popup-three>
            </ion-grid>
            <ion-grid class="ion-align-self-center">
              <ion-row
                class="table-body-row"
                *ngFor="let customer of liderboard.customers"
                (click)="showInfo(customer)"
              >
                <ion-col size="5" class="ion-text-left table-label"
                  >{{ customer.name }}</ion-col
                >
                <ion-col size="2" class="ion-text-center table-label">
                  {{ customer.completed_tasks }} из {{ customer.total_tasks
                  }}</ion-col
                >
                <ion-col size="3" class="ion-text-center table-label"
                  >{{ +(customer.total / 1000).toFixed(1) }}K</ion-col
                >
                <ion-col size="2" class="ion-text-center table-label"
                  >{{ +((+customer.total + +customer.bonus) / 1000).toFixed(1)
                  }}K</ion-col
                >
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
