<app-header [title]="liderboard.team_title"></app-header>

<ion-content fullscreen class="dark-container">
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <ion-item class="header">
            <div class="img-block">
              <img
                src="{{ liderboard.program_image }}"
                alt="web-rf"
                *ngIf="liderboard.program_image != ''"
              />
            </div>

            <ion-label class="label">{{ liderboard.program_title }}</ion-label>
          </ion-item>

          <div class="table">
            <ion-item class="header">
              <ion-label class="label ion-text-center"
                >{{ liderboard.team_title }}</ion-label
              >
            </ion-item>
            <div class="table-header">
              <div class="table-row">
                <div class="table-header-label">ДЗ</div>
                <div class="table-header-label">Шаги</div>
                <div class="table-header-label">Баллы</div>
              </div>
            </div>
            <div class="table-body">
              <div
                class="table-body-row"
                *ngFor="let customer of liderboard.customers"
                (click)="showInfo(customer)"
              >
                <div class="table-label">{{ customer.name }}</div>
                <div class="table-label table-label-primary ion-text-right">
                  {{ customer.completed_tasks }} из {{ customer.total_tasks }}
                </div>
                <div class="table-label table-label-primary ion-text-center">
                  {{ customer.total }}
                </div>
                <div class="table-label table-label-primary ion-text-center">
                  {{ customer.bonus }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
