@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';

.header {
  .img-block {
    width: 50px;
  }

  .label {
    @include styleForText(19px, $fontLight);

    margin-bottom: 15px;
  }
}

.input {
  border: 1px solid #5c5c5c;
  display: block;
  width: 100%;
  border-radius: 4px;
  --padding-bottom: 13px;
  --padding-end: 13px;
  --padding-start: 11px;
  --padding-top: 13px;
  font-size: 15px;
  color: var(--colorMain);
  --background: inherit;
  margin: 0 0 20px 0;
}

.correct {
  box-shadow: 1px 1px 7px 0px rgba(240, 17, 17, 1);
}

.news-block {
  margin-top: 20px;
}

.widget-block {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #939598;
  padding-bottom: 16px;

  .images-block {
    display: flex;
    align-items: center;

    .image {
      margin-right: 15px;
      width: 20px;
    }
  }
}

.public-button {
  height: 25px;
  position: relative;
  top: -3px;
  margin: 0;
  padding: 0;
  background-color: var(--colorMain);
  width: 33px;
}

.text-title {
  color: var(--colorCaption);
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 700;
}

.select {
  color: var(--colorSelect);
  height: 44px;
  background: var(--backgroundGray);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 20px 0 11px;
  font-size: 15px;
}

.link-date {
  font-size: 13px;
  color: #56ccf2;
  text-decoration: none;
  display: inline-block;
  margin: 0 0 20px 0;
}

.link-date-underline {
  padding-bottom: 1px;
  border-bottom: 1px solid #56ccf2;
}

.ball-label {
  @include styleForText(10px);
}

.input-ball {
  @include styleForText(19px, $fontLight);

  border: 1px solid #939598;
  display: block;
  width: 100px;
  margin-top: 7px;
  border-radius: 5px;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 10px;
}

.btn-block {
  margin: 25px 0 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
