.form {
  margin-bottom: 40px;
  .input {
    border: 1px solid #5c5c5c;
    display: block;
    width: 100%;
    border-radius: 4px;
    --padding-bottom: 13px;
    --padding-end: 13px;
    --padding-start: 11px;
    --padding-top: 13px;
    font-size: 15px;
    color: var(--colorMain);
    --background: inherit;
    margin: 0 0 20px 0;
  }

  ion-textarea {
    --padding-start: 0 !important;
    padding-left: 15px !important;
  }
}

.widget-block {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  .images-block {
    display: flex;
    align-items: center;

    .image {
      margin-right: 15px;
      width: 20px;
    }
  }
}

ion-item {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
}

.public-button {
  --background: var(--backgroundButtonPush);
  --color: var(--colorBlack);
  backdrop-filter: blur(10px);
  font-size: 13px;
  font-weight: 700;
  width: 112px;
  height: 41px;
  --border-radius: 55px;
  position: relative;
  top: -3px;
}

.comments-amount {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;

  span {
    color: #cf1332;
  }
}

.news-content {
  background: var(--backgroundContent);
  border-radius: 10px;
  padding: 12px;
  margin: 12px 0;
  &__title {
    color: #f39f18;
    font-size: 13px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    span {
      color: #7a7a7a;
    }
  }
  &__subtitle {
    color: var(--colorCaption);
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px 0;
  }
  &__desc {
    color: #7a7a7a;
    font-size: 12px;
    margin: 0 0 12px 0;
  }
  &__comments-amount {
    display: flex;
    align-items: center;
    margin: 0 0 16px 0;
    span {
      color: #999999;
      font-size: 13px;
      margin-left: 5px;
    }
  }
  &__preview {
    width: 100%;
    height: 193px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: contain;
    }
  }
}

.link {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: 85px;
}

.select {
  color: var(--colorSelect);
  height: 44px;
  background: var(--backgroundGray);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 20px 0 11px;
  font-size: 15px;
}
