.input {
  border: 1px solid #939598;
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 10px;
}

ion-textarea {
  --padding-start: 0 !important;
  padding-left: 15px !important;
}

.widget-block {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #939598;
  padding-bottom: 10px;

  .images-block {
    display: flex;
    align-items: center;

    .image {
      margin-right: 15px;
      width: 20px;
    }
  }
}

ion-item {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
}

.public-button {
  --background: #0360aa;
  --color: #fff;
  font-size: 11px;
  font-family: 'OpenSans-SemiBold', sans-serif;
  height: 25px;
  width: 120px;
  position: relative;
  top: -3px;
}

.comments-amount {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;

  span {
    color: #cf1332;
  }
}

.player {
  --size: 100%;
  margin: 20px 0 5px;
}

.sub-title {
  margin: 30px 0 5px;
  font-size: 12px;
  color: #0360aa;
  font-family: 'OpenSans-Regular', sans-serif;
}

.title {
  margin: 0 0 13px;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  color: #6f6f6e;
}

.desc {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 13px;
  margin: 0;
}

.link {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: 85px;
}

.select {
  color: #0360aa;
  height: 20px;
  border: 1px solid #0360aa;
  border-radius: 20px;
  margin-bottom: 10px;
  --padding-end: 20px;
  font-size: 12px;
}
h3 {
  margin-top: 2px;
}
h5 {
  margin: 30px 0 0;
  font-size: 13px;
  font-weight: bold;
  color: #0360aa;
  font-style: italic;

  span {
    float: right;
    color: #aaa;
  }
}
