.lesson-header {
    .title-block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 5px;

        .sub-title {
            font-size: 16px;
            color: #0360aa;
            font-family: var(--fontDisplay);
            margin: 0;
        }
        
        .lesson-img {
            width: 40px;
        }
    }
    
    .player {
        --size: 100%;
        margin: 20px 0 5px;
    }
    
    .lesson-title {
        margin: 0;
        font-family: var(--fontDisplay);
        font-size: 16px;
        width: 90%;
        line-height: 1.2;
    }

    .task-title {
        --padding-start: 0;
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --inner-padding-bottom: 0;
        --inner-padding-end: 0;
        --inner-padding-start: 0;
        --inner-padding-top: 0;
        --border-color: #868686;
    }
    
    .task-label {
        margin: 0;
        font-size: 16px;
        color: #0360aa;
    }
}


.lesson-sub-title {
    font-size: 14px;
    color: #0360aa;
    margin: 10px 0 25px;
    font-family: var(--fontDisplay);
}

.lesson-desc {
    font-size: 14px;
}

.btn-block {
    .button-link {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #0360aa;
        font-size: 18px;
        margin: 30px auto;
    }
}