<div class="lesson-header">
  <div class="title-block">
    <h5 class="sub-title">Урок 5</h5>

    <div class="lesson-img">
      <img src="assets/images/food-program/web-rf.png" alt="web-rf" />
    </div>
  </div>
  <p class="lesson-title">Оценка состояния питания</p>

  <ion-thumbnail class="player">
    <img src="assets/images/food-program/player.png" alt="player" />
  </ion-thumbnail>

  <ion-item class="task-title">
    <ion-label class="task-label">Задание</ion-label>
  </ion-item>
</div>

<div class="lesson">
  <h6 class="lesson-sub-title">
    Нажмите кнопку НАЧАТЬ, держите телефон в руках и выполняйте следующее
    упражнение, после завершения нажмите кнопку завершить.
  </h6>
  <p class="lesson-desc">КРУГОВЫЕ МАХИ РУКАМИ.</p>
  <p class="lesson-desc">
    Для проведения таких упражнений нужно поставить ноги на ширине плеч и
    немного согнуть их. Далее от стопы передаем импульсное движение и начинаем
    раскручивать руки. Производим около 15 махов кругового типа вперед, после
    чего раскручиваем руки в обратную сторону и делаем 15 повторений. Для
    улучшения координации движений можно производить круговые махи в различные
    стороны, правой рукой вперед, а левой – назад и наоборот. Первое время мозг
    будет в замешательстве, но вскоре выстроится нейронная связь.
  </p>
</div>

<div class="btn-block">
  <a href="javscript:void(0);" class="button-link">Начать</a>
  <ion-button
    class="button"
    expand="block"
    style="font-size: 18px; --background: #0361aa; --color: #fff"
    >Завершить</ion-button
  >
</div>
