<app-header [title]="'ВЕБ.РФ'"></app-header>

<ion-content fullscreen class="dark-container">
    <ion-grid class="container-grid">
      
        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>
                
                <div class="container">
                    <div class="web-header">
                        <div class="web-img"> 
                            <img src="assets/images/food-program/web-rf.png" alt="web-rf">
                        </div>

                        <h5 class="title">Название платформы</h5>
                    </div>

                    <div class="btn-block">
                        <ion-button 
                            class="button" 
                            expand="block" 
                            style="font-size: 18px; --background: #0361aa; --color: #fff; margin-bottom: 35px;"
                        >Создать программу</ion-button>
                    </div>

                   <app-list [list]="listData" [showLastBorder]="false"></app-list>

                   <div class="web-search">
                       <app-search></app-search>
                   </div>
                </div>
                
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>