/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import 'assets/styles/fonts';
@import 'assets/styles/vars';
@import 'assets/styles/mixins';

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
  background-color: #fff;
  font-family: 'OpenSans-Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #3c3c3b;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  width: 89%;
  height: 40px;
  --background: transparent;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #0361aa;
  --color: #0361aa;
  --border-radius: 50px;
  --color-activated: #fff;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 20px;
}

.dark-container {
  --background: #f5f5f5;
}

.white-container {
  --background: #fff;
}

.container {
  background-color: #fff;
  padding: 10px 15px 20px;
  height: 100%;
  z-index: 20;
}

ion-item {
  --border-color: #939598;
  --padding-start: 0;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

.item-has-focus {
  --border-color: #000000;
}

h1 {
  @include styleForText(41px);
}
