/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import 'assets/styles/fonts';
@import 'assets/styles/vars';
@import 'assets/styles/mixins';

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
  background: var(--backgroundMain);
}
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #3c3c3b;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  width: 49%;
  font-family: var(--fontDisplay);
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  border-radius: 50px;
  height: 41px;
}
.register-button {
  --background: #2c2c2c;
  background: #2c2c2c;
  border-radius: 8px;
  color: #f39f18;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}
.button-yellow {
  --background: var(--yellowGradientBackground);
  border-radius: 8px;
  color: #000000;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  height: 41px;
}
.button-white {
  background: #ffffff;
  backdrop-filter: blur(10px);
  border-radius: 55px;
  color: #252525;
  font-size: 13px;
  letter-spacing: -0.02em;
  font-weight: 400;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
}
.button-transparent {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #8f8f8f;
  --background: transparent;
  border: 1px solid #8f8f8f;
}

.container {
  --background: var(--backgroundMain);
  --padding-start: 15px;
  --padding-end: 15px;
  font-family: 'SF Pro Display';
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.white-container {
  --background: #fff;
}
.container-graphic {
  padding: 18px 0 0 0;
  background: var(--backgroundContent);
  border-radius: 0px 0px 10px 10px;
}
ion-item {
  --border-color: #939598;
  --padding-start: 0;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
  margin: 0 15px;
}

.item-inner {
  min-height: 2px !important;
}

.label-md {
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}

ion-item-divider {
  margin-top: 2px;
  min-height: 2px !important;
}

.item-has-focus {
  --border-color: #000000;
}

.native-input {
  font-size: 15px !important;
}

h1 {
  @include styleForText(41px);
}

.month-packer-item * {
  border: none !important;
}

.month-packer-item button {
  color: #202020;
}

* {
  text-transform: none !important;
}
.line {
  position: absolute;
  width: 150px;
  background: #fff;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 9px;
  z-index: 25;
  border-radius: 15px;
}

.custom-checkbox {
  display: flex;
  font-size: 7px;
  margin-top: 5px;
  padding: 0 0 15px 0;

  .radio {
    display: block;
    height: 10px;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
  &__checkbox {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  label {
    color: #ffff;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.02em;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 7.5px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 13px;
    }
  }
  input[type='radio'] + label:before {
    border-radius: 50%;
  }
  input[type='radio']:checked + label:after {
    border-radius: 50%;
  }
  input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    left: 4px;
    width: 11px;
    height: 11px;
    background: #f39f18;
  }
}
.platform {
  display: flex;
  background: var(--backgroundContent);
  justify-content: space-between;
  padding: 14px;
  border-bottom: 1px solid #202020;
  margin: 0 0 10px 0;
  align-items: center;
  gap: 23px;
  border-radius: 10px;
  .label {
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    letter-spacing: -0.02em;
    display: flex;
    flex-direction: column;
    gap: 6px;
    span {
      font-weight: 400;
      color: #a3a3a3;
    }
  }
  .img-block {
    flex: 0 0 49px;
    height: 49px;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  margin: 0 -7px -14px;
  padding: 0 10px;
  flex-wrap: wrap;

  .tab-link-block {
    flex: 0 1 33.333%;
    text-align: center;
    padding: 0 7px;
    margin: 0 0 14px 0;

    .tab-link {
      color: #7a7a7a;
      font-family: var(--fontDisplay);
      font-size: 13px;
      display: block;
      padding: 6px 0;
      background: #2c2c2c;
      border-radius: 5px;
    }

    &:active {
      .tab-link {
        color: #fff;
        background-color: #3d3c3c;
      }
    }
  }

  .active {
    .tab-link {
      background-color: #3d3c3c;
      color: #fff;
    }
  }

  .no-border {
    border-left: 0;
    border-right: 0;
  }
}

.alert-wrapper.sc-ion-alert-ios {
  filter: invert(1);
  border-radius: 5px;
}

div.title .back {
  color: var(--ion-color-primary) !important;
}

div.title .forward {
  color: var(--ion-color-primary) !important;
}

div.title .switch-btn {
  color: #000 !important;
}
