<ion-header class="header ion-no-border">
    <ion-toolbar class="toolbar">

        <div class="menu-block" slot="end">

            <ion-menu-button class="menu-button">
                <div class="menu-block__text">Меню</div>
                <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-button>
        </div>

        <div class="photo-block">
            <div class="photo">
                <img
                        src="assets/images/portfolio/photo.png"
                        alt="photo"
                        class="avatar"
                        *ngIf="customerData.avatar == ''"
                />
                <img
                        src="{{ customerData.avatar }}"
                        alt="photo"
                        class="avatar"
                        *ngIf="customerData.avatar != ''"
                />
            </div>

            <p class="photo-title">{{ customerData.name }}</p>
        </div>
    </ion-toolbar>
</ion-header>