@font-face {
    font-family: 'OpenSans-Regular';
    src: url('assets/fonts/OpenFonts/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('assets/fonts/OpenFonts/OpenSans-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('assets/fonts/OpenFonts/OpenSans-BoldItalic.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('assets/fonts/OpenFonts/OpenSans-ExtraBold.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('assets/fonts/OpenFonts/OpenSans-ExtraBoldItalic.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('assets/fonts/OpenFonts/OpenSans-Italic.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('assets/fonts/OpenFonts/OpenSans-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('assets/fonts/OpenFonts/OpenSans-LightItalic.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('assets/fonts/OpenFonts/OpenSans-Semibold.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    src: url('assets/fonts/OpenFonts/OpenSans-SemiboldItalic.ttf') format("truetype");
}