<app-header [title]="program.title"></app-header>

<ion-content fullscreen class="container">
  <h2 class="ion-text-center" *ngIf="program.complete">Программа окончена</h2>
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="content">
          <div class="header">
            <div class="title-block">
              <h5 class="title">Информация</h5>
              <p class="title-desc">
                <img src="assets/images/common/cloack.svg" alt="clock" /> {{
                program.start_time }} - {{ program.end_time }}
              </p>
            </div>

            <div class="img-block">
              <img
                src="{{ program.image }}"
                alt="apple"
                *ngIf="program.image != 0"
              />
            </div>
          </div>

          <div class="link-block">
            <a class="link" [routerLink]="['/tasks/' + program.id]"
              ><ion-button class="button button-yellow">Задания</ion-button></a
            >
          </div>

          <div class="progress-bar-block">
            <ion-progress-bar class="progress-bar" value="0"></ion-progress-bar>
            <p class="progress-text">
              Участники уже прошли 0 из {{ program.lessons_amount }} заданий
            </p>
          </div>
        </div>
        <div class="list-block">
          <h5 class="title">Лидерборд</h5>
          <app-leaderboardList [data]="listData"></app-leaderboardList>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
