

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.title {
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 19px;
    margin: 0 0 8px;
}

.title-desc {
    font-size: 14px;
    font-family: 'OpenSans-Regular', sans-serif;
    margin: 0;
}

.content {
    .link-block {
        margin-bottom: 15px;

        .link {
            font-size: 17px;
            color: #0361aa;
            font-family: 'OpenSans-Regular', sans-serif;
        }
    }
    
    .progress-bar-block {
        margin-bottom: 30px;

        .progress-bar {
            --background: #C6C6C5;
            --progress-background: #0361aa;
            border-radius: 10px;
            height: 8px;
            margin-bottom: 8px;
        }
        
        .progress-text {
            text-align: center;
            font-size: 13px;
            font-family: 'OpenSans-Regular', sans-serif;
            margin: 0;
        }
    }
}