h2 {
    color: #DC3838;
    padding: 15px 0;
    background: var(--backgroundContent);
    font-size: 17px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.title {
    font-size: 17px;
    color: #E1E1E1;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.title-desc {
    font-size: 13px;
    color: #F39F18;
    font-weight: 700;
    margin: 0;
}

.content {
    .link-block {
        margin-bottom: 15px;

        .link {
            font-size: 17px;
            color: #0361aa;
            font-family: var(--fontDisplay);
        }
    }

    .progress-bar-block {
        margin-bottom: 30px;

        .progress-bar {
            --background: #474747;
            --progress-background: linear-gradient(270deg, #F2994A 4.16%, #F4C319 100%);;
            border-radius: 16.1461px;
            height: 5px;
            margin-bottom: 8px;

        }

        .progress-text {
            text-align: center;
            font-size: 13px;
            color: #454545;
            margin: 0;
        }
    }
}