<app-header [title]="program.title"></app-header>

<ion-content fullscreen class="dark-container">
  <h2 class="ion-text-center" *ngIf="program.complete">Программа окончена</h2>
  <ion-grid class="container-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" ion-text-center>
        <div class="container">
          <div class="header">
            <div class="title-block">
              <h5 class="title">Информация</h5>
              <p class="title-desc">
                Начало и конец программы: {{ program.start_time }}-{{
                program.end_time }}
              </p>
            </div>

            <div class="img-block">
              <ion-thumbnail>
                <img
                  src="{{ program.image }}"
                  alt="apple"
                  *ngIf="program.image != 0"
                />
              </ion-thumbnail>
            </div>
          </div>

          <div class="content">
            <div class="link-block">
              <a class="link" [routerLink]="['/tasks/' + program.id]"
                >Лекции и домашнее задание</a
              >
            </div>

            <div class="progress-bar-block">
              <ion-progress-bar
                class="progress-bar"
                value="0"
              ></ion-progress-bar>
              <p class="progress-text">
                Участники уже прошли 0 из {{ program.lessons_amount }} уроков
              </p>
            </div>

            <div class="list-block">
              <h5 class="title">Лидерборд</h5>
              <app-list
                [list]="listData"
                [customLabelStyles]="{ 'margin-left': '10px' }"
                [showLastBorder]="false"
              ></app-list>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
