.flat-tabs {
  .text {
    display: flex;
    align-items: center;
    background: var(--backgroundMain);
    justify-content: space-between;
  }

  .link {
    display: block;
    flex: 0 1 25%;
    padding: 9px 0;
    font-family: var(--fontDisplay);;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #7A7A7A;

    text-decoration: none;

  }
  .activeLink {
    background: var(--backgroundContent);
    color: var(--colorMain);
    border-radius: 10px 10px 0px 0px;
  }
}
