.search {
    --background: transparent;
    --color: #3c3c3b;
    --placeholder-color: #3c3c3b;
    border: 1px solid #939598;
    border-radius: 5px;
    padding-top: 0;
    padding-bottom: 0;
    height: 45px;
    font-family: 'OpenSans-Light', sans-serif;
}