<app-header [title]="'Программы'"></app-header>

<ion-content fullscreen class="dark-container">
    <ion-grid class="container-grid">
        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>
                <div class="container">
                   <app-list
                        [list]="listData"
                        [showLastBorder]="false"
                        [customLabelStyles]="{ 'font-size': '15px' }"
                    ></app-list>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-searchbar [(ngModel)]="search" placeholder="Поиск" mode="ios" animated (ionChange)="doSearch();"></ion-searchbar>
</ion-footer>